@use '@/styles/global/mixins' as *;
@use '@/styles/global/functions' as *;

.header {
    padding-top: 8px;
    padding-bottom: 8px;
    
    @include media(md) {
      padding-top: 16px;
      padding-bottom: 16px;
    }

  &__inner {
    padding: 8px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: var(--background-container);
    transition: background-color 0.3s ease-in-out;
    border-radius: var(--mobile-border-radius);
    width: 100%;
    
    @include media(md) {
      min-height: 71px;
      border-radius: var(--desktop-border-radius);
    }
    
    @include media(lg) {
      border-radius: 64px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    padding-left: 24px;
    margin-left: 24px;
    border-left: 1px solid #ececec;
    
    @include media(md) {
      font-size: 24px;
    }
  }

  &__title-desktop {
    display: none;
    
    @include media(md) {
      display: inline;
    }
  }

  &__logo {
    margin-left: 16px;
    width: 80px;
    
    @include media(md) {
      width: 120px;
    }
  }

  &__button {
    margin-left: auto;
  }

}