.nav-buttons {
    padding: 24px var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
    background-color: var(--background-container);
    display: flex;
    align-items: center;
    justify-content: space-between;
}