@use '@/styles/global/mixins' as *;
@use '@/styles/global/functions' as *;

.initial-block {
    margin-top: 24px;
    margin-bottom: 24px;

    @include media(md) {
        gap: 36px;
    }

    &__item {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;

        & img {
            width: 64px;
            height: 64px;
            display: block;
        }
    }

    &__item-content {
        text-align: center;
        font-size: 16px;
        line-height: 120%;
    }
}